@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

:root {
    --color: rgb(230, 83, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p {
    opacity: 50%;
}

body {
    background-color: black;
    color: white;
}

/* header section start */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.342) 100%);
}

.header {
    max-width: 1280px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 10px;
}

.logo p {
    color: var(--color);
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

nav div {
    display: none;
}

.active {
    background-color: var(--color);
    border-radius: 46px;
    padding: 8px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* banner section start */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-desc {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-desc h2 {
    font-size: 75px;
}

.banner-desc p {
    margin: 28px 0;
}

.banner-desc div {
    display: flex;
    gap: 10px;
}

.shape {
    font-family: "Dancing Script", cursive;
}

.club,
.download {
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: transparent;
    border: none;
    color: white;
    text-transform: capitalize;
}

.club {
    background-color: var(--color);
}

.download {
    border: 1px solid white;
}

.banner-img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}

.banner-img img {
    width: 349px;
    height: 580px;
    position: relative;
}

.workout {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 17px;
    left: 400px;
    top: 140px;
}

.workout h2 {
    font-size: 40px;
    font-weight: 900;
}

.workout p {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.tutorial {
    position: absolute;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 17px;
    bottom: 60px;
    left: 50px;
}

.circle {
    background-color: var(--color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tutorial h2 {
    font-size: 24px;
    font-weight: 900;
}

.tutorial p {
    letter-spacing: .5px;
}
/* banner section end */
/* header section end */


/* main section start */


/* habit section start */
.habit {
    max-width: 1280px;
    margin: 100px auto 0;
}

.h-header {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.h-header h2 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 14px;
}

.h-header p {
    font-size: 14px;
    letter-spacing: .3px;
}

.habit-box {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.habit-card {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.habit-img-container img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.habit-card-desc h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.habit-img-container p {
    font-size: 14px;
    letter-spacing: .3px;
}
/* habit section end */

/* run section start */
.run {
    max-width: 1280px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    padding: 35px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
}

.run-desc {
    width: 45%;
}

.run-desc h2 {
    font-size: 48px;
    font-weight: 900;
}

.run-desc p {
    font-size: 14px;
    margin-top: 14px;
}

.run-desc button {
    background-color: var(--color);
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 35px;
}

.run-img {
    width: 40%;
}

.run-img img {
    width: 100%;
    border-radius: 12px;
}
/* run section end */

/* calculator section start */

.calculator {
    max-width: 1400px;
    margin: 0 auto;
}

.calc-header {
    margin: 90px auto;
    width: 70%;
}

.calc-header h2 {
    font-size: 50px;
    margin-bottom: 14px;
}

.calc-bg {
    background-color: rgba(255, 255, 255, 0.1);
}

.calculator-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.calculator-container table caption {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: left;
}

table caption {
    font-size: 28px;
    margin-bottom: 50px;
}

table,th,td {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);;
}


th {
    text-align: left;
    padding: 18px;
    font-size: 16px;
    font-weight: 500;
}

td {
    font-size: 14px;
    font-weight: 200;
    width: 150px;
    padding: 10px 18px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.calc-input {
    width: 40%;
}

.calc-input-header h2 {
    font-size: 28px;
}

.calc-input-header p {
    margin: 20px 0;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

#height {
    grid-column: span 1;
}

#weight {
    grid-column: span 1;
}
#age {
    grid-column: span 1;
}

#gender {
    grid-column: span 1;
}

#activity {
    grid-column: span 2;
}

#height,
#weight,
#age,
#gender,
#activity {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    width: 100%;
}

input[type='text'] {
    color: white;
}

#gender,
#activity {
    border-right: 15px solid transparent;
}

::placeholder, select {
    color: rgba(255, 255, 255, 0.5);
}

.calc-input button {
    background-color: var(--color);
    padding: 16px 40px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 40px;
    color: white;
    letter-spacing: .3px;
}
/* calculator section end */

/* meet section start */
.meet {
    max-width: 1280px;
    margin: 90px auto;
}

.meet-head {
    text-align: center;
    margin-bottom: 60px;
}

.meet-head h2 {
    font-size: 48px;
}

.meet-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 272px);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
}

.trainer-container {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    grid-column: span 1;
    grid-row: span 1;
}

.trainer-container::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.trainer-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.trainer-name h3 {
    font-size: 20px;
}

.trainer-container img {
    width: 100%;
    height: 272px;
    object-fit: cover;
    border-radius: 15px;
}    
/* meet section end */
/* unique section start */
.exercise-section {
    max-width: 1280px;
    margin: 0 auto 80px;
}

.exercise-section > h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.exercise-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exercise-div {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}

.exercise-div h2 {
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.exercise {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.ex-img {
    width: 20%;
    border-radius: 12px;
    overflow: hidden;
    height: 150px;
}

.exercise p {
    width: 80%;
}

.ex-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

/* unique section end */

/* main section end */

/* footer section start */
footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 30px auto 0;
    padding: 40px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-desc {
    width: 40%;
}

.important-link,
.link-container-2 {
    width: 20%;
}

.footer-desc h2 {
    color: var(--color);
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 20px;
}

.footer-desc p {
    line-height: 28px;
}

.link-container-2 {
    display: flex;
    justify-content: end;
}

.link h2 {
    margin-bottom: 40px;
}

.link ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.link ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
}

.copyright {
    text-align: center;
    padding: 20px 0;
}
/* footer section end */


/* small device media query */

@media screen and (max-width: 540px) {
    section {
        padding: 0 20px;
    }

    nav ul{
        display: none;
    }

    nav div {
        display: block;
    }

    nav div i {
        font-size: 20px;
    }

    .banner,
    .habit-box,
    .run,
    .calculator-container,
    .footer-container,
    .exercise {
        flex-direction: column;
    }

    .nav-container {
        padding-top: 10px;
    }

    .banner-desc {
        width: 100%;
        margin-top: 30px;
    }

    .banner-img {
        width: 100%;
    }
    
    .banner-desc h2 {
        font-size: 36px;
        width: 270px;
    }

    .banner-desc p {
        width: 260px;
    }
    

    .club,
    .download {
        padding: 16px 30px;
        margin: 0;
    }
    
    .workout {
        left: 190px;
        top: 50px;
    }

    
    .tutorial {
        left: 0px;
        bottom: 140px;
    }

    .workout h2,
    .tutorial h2 {
        font-size: 30px;
    }
    
    .h-header h2 {
        font-size: 32px;
    }

    .habit-box {
        gap: 40px;
    }

    .meet-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .run {
        gap: 30px;
    }

    .run-desc,
    .run-img {
        width: 100%;
    }

    .run-desc h2 {
        font-size: 32px;
        width: 80%;
    }

    .calculator {
        padding: 0;
    }

    .calc-bg {
        padding: 30px 30px;
    }

    .calc-header {
        padding: 0 30px;
        margin: 40px 0;
    }

    .calculator-container {
        gap: 50px;
    }

    table {
        width: 100%;
    }

    .calculator-container table caption {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 20px;
    }

    .calc-header {
        width: 100%;
    }

    .calc-header h2 {
        font-size: 32px;
    }

    .calc-input {
        width: 100%;
    }

    .calc-input-header h2 {
        font-size: 16px;
    }

    .meet-head h2 {
        font-size: 32px;
        margin-bottom: 10px ;
    }

    .exercise-section > h2 {
        font-size: 32px;
    }

    .ex-img {
        width: 100%;
        height: 200px;
    }

    .ex-img img {
        height: 200px;
        object-fit: cover;
    }

    .exercise {
        padding: 10px;
    }

    .exercise p {
        width: 100%;
    }

    footer {
        padding: 0 30px;
    }

    .footer-desc {
        width: 100%;
    }

    .footer-container {
        gap: 30px;
    }

    .important-link,
    .link-container-2 {
        width: 100%;
    }

    .link-container-2 {
        justify-content: start;
    }
}
