@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

:root {
    --color: rgb(230, 83, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

p {
    opacity: 50%;
}

body {
    background-color: black;
    color: white;
}

/* header section start */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.header {
    max-width: 1280px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 10px;
}

.logo p {
    color: var(--color);
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

.active {
    background-color: var(--color);
    border-radius: 46px;
    padding: 8px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* banner section start */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-desc {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-desc h2 {
    font-size: 75px;
}

.banner-desc p {
    margin: 28px 0;
}

.shape {
    font-family: "Dancing Script", cursive;
}

.club,
.download {
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: transparent;
    border: none;
    color: white;
    text-transform: capitalize;
}

.club {
    background-color: var(--color);
}

.download {
    border: 1px solid white;
}

.banner-img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}

.banner-img img {
    width: 349px;
    height: 580px;
    position: relative;
}

.workout {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px 17px;
    left: 400px;
    top: 140px;
}

.workout h2 {
    font-size: 40px;
    font-weight: 900;
}

.workout p {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.tutorial {
    position: absolute;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 24px 17px;
    bottom: 60px;
    right: 400px;
}

.circle {
    background-color: var(--color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tutorial h2 {
    font-size: 24px;
    font-weight: 900;
}

.tutorial p {
    letter-spacing: .5px;
}
/* banner section end */
/* header section end */


/* main section start */


/* habit section start */
.habit {
    margin-top: 80px;
    max-width: 1280px;
    margin: 0 auto;
}

.h-header {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.h-header h2 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 14px;
}

.h-header p {
    font-size: 14px;
    letter-spacing: .3px;
}

.habit-box {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.habit-card {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habit-img-container img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.habit-card-desc h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.habit-img-container p {
    font-size: 14px;
    letter-spacing: .3px;
}
/* habit section end */

/* run section start */
.run {
    max-width: 1280px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    padding: 35px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
}

.run-desc {
    width: 45%;
}

.run-desc h2 {
    font-size: 48px;
    font-weight: 900;
}

.run-desc p {
    font-size: 14px;
    margin-top: 14px;
}

.run-desc button {
    background-color: var(--color);
    border: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 35px;
}

.run-img {
    width: 40%;
}

.run-img img {
    width: 100%;
    border-radius: 12px;
}
/* run section end */

/* calculator section start */

.calculator {
    background-color: rgba(255, 255, 255, 0.1);
}

.calculator-container {
    display: flex;
    justify-content: space-between;
}

.calc-width {
    max-width: 1280px;
    margin: 0 auto;
}

table,th,td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.input-container {
    display: grid;
    grid-template-areas: 
    "h w"
    "a g"
    "act act";
    gap: 10px;
}

#height {
    grid-area: h;
}

#weight {
    grid-area: w;
}
#age {
    grid-area: a;
}

#gender {
    grid-area: g;
}

#activity {
    grid-area: act;
}

#height,
#weight,
#age,
#gender,
#activity {
    padding: 10px 15px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
}
/* calculator section end */

/* main section end */
